# Python-related
__pycache__/
*.py[cod]
venv/

# Certificates and private keys
cert-issuer/ca/ca_private.key
cert-issuer/ca/ca_cert.srl
cert-issuer/user_certs/*.key
cert-issuer/user_certs/*.csr
cert-issuer/user_certs/*.crt

# IDE and system files
*.swp
*.DS_Store
.vscode/
